@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --color-1: #280101e6;
  --color-2: #ebebeb;
  --color-3: #9bf2a1;
  --color-4: #aadadab3;
  --color-5: #275950;
  --color-6: #80aba34d;
  --color-7: #16322d;
  --color-8: #2a8c82;
  --color-9: #6f5656e6;
  --color-10: #e9e9e9;

  --color-html: #e44d26;
  --color-css: #2465f1;
  --color-javascript: #f7e018;
  --color-git: #f15032;
  --color-github: #171515;

  --color-black-shadow: #000000ca;
  --color-transparent: #00000000;

  --font-main: "Roboto Mono", monospace;
  --font-serif: "DM Serif Text", serif;
}

img {
  /* seletor temporário */
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

html {
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-2);
}

a {
  text-decoration: none;
}

#nav-bar {
  position: fixed;
  width: 100%;
  height: 5.8125rem;
  z-index: 1;
}

#nav-bar-desktop {
  box-shadow: 0px 1px 10px var(--color-black-shadow);
  backdrop-filter: blur(10px);
  background-color: var(--color-1);
  color: var(--color-2);
  padding: 1.5rem;
  display: flex;
  justify-content: right;
}

#nav-bar-desktop ul {
  display: none;
  gap: 5rem;
  list-style-type: none;
}

.nav-desktop-link {
  font-size: 1.4rem;
  color: var(--color-2);
  text-decoration: none;
}

.nav-desktop-link:visited {
  color: var(--color-2);
}

.link-menu-hover {
  position: relative;
}

.link-menu-hover::after {
  content: "";
  width: 0rem;
  height: 0rem;
  position: absolute;
  background-color: var(--color-5);
  top: 2.5rem;
  right: 50%;
  transform: translateX(50%);
  transition: 0.3s;
}

.link-menu-hover:hover::after,
.link-menu-hover:hover {
  font-style: italic;
  width: 9rem;
  height: 0.125rem;
}

#menu-icon {
  background-color: var(--color-transparent);
  border: none;
}

#menu-icon i {
  font-size: 2rem;
  color: var(--color-2);
}

#menu-icon i:active {
  color: var(--color-3);
}

#nav-bar-mobile {
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(10px);
}

#nav-bar-mobile ul {
  background-color: var(--color-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
  row-gap: 1.7rem;
  list-style-type: none;
}

.nav-mobile-link {
  color: var(--color-5);
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 0.75rem;
  border-bottom: 0.125rem solid var(--color-6);
}

.nav-mobile-link:visited {
  color: var(--color-7);
}

header {
  padding: 8rem 1rem 0rem 1rem;
}

#master-title {
  color: var(--color-8);
}

.master-title-span {
  display: block;
  text-align: center;
}

.master-title-span:nth-child(1) {
  font-weight: 400;
  font-size: 2rem;
}

.master-title-span:nth-child(2) {
  font-family: var(--font-serif);
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

.master-title-span:nth-child(3) {
  font-family: var(--font-serif);
  font-style: italic;
  text-decoration: underline;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

@keyframes floating {
  50% {
    bottom: 1rem;
  }

  100% {
    bottom: -1rem;
  }
}

#illustration-luiz {
  display: block;
  margin: 2rem auto;
  color: #2c352d;
  width: 70vw;
  max-width: 17rem;
  position: relative;
  bottom: -1rem;
  animation: floating 3.3s cubic-bezier(0.25, 0.25, 0.75, 0.75) infinite;
}

#master-link {
  background-image: linear-gradient(to right, var(--color-1), var(--color-9));
  color: var(--color-2);
  padding: 1rem 2.5rem;
  font-size: 2rem;
  display: block;
  margin: 3rem auto;
  width: fit-content;
  border-radius: 1rem;

  position: relative;
  bottom: 0px;
  transition: 0.3s;
}

#master-link:active {
  color: var(--color-4);
}

#master-link:hover {
  box-shadow: 0px 0px 20px var(--color-9);
  bottom: 10px;
}

#sobre-mim {
  background-color: var(--color-5);
  color: var(--color-2);
  padding: 4rem 0rem;
  margin-top: 2rem;
}

#sobre-mim h1 {
  text-align: center;
  font-size: 3.5rem;
}

#sobre-mim ul {
  max-width: 50rem;
  width: 75vw;
  margin: auto;
}

#sobre-mim li {
  text-align: justify;
  padding: 2rem 0rem;
  font-size: 1.5rem;
}

#ultimos-projetos {
  text-align: center;
  margin: 4rem 0rem;
}

#ultimos-projetos > p {
  color: var(--color-1);
  font-size: 1.9rem;
  font-weight: 700;
  margin-top: 4rem;
}

#ultimos-projetos h1 {
  font-size: 3rem;
  color: var(--color-8);
  margin-bottom: 2rem;
}

#container-projects {
  padding: 1.5rem 0.5rem;
  overflow: auto;
  display: flex;
  column-gap: 4rem;
}

.project {
  padding-top: 2.5rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
  flex-basis: 90vw;
  max-width: 20rem;
  height: 30rem;
  background-color: var(--color-10);
  border: 1px solid var(--color-5);
  box-shadow: 0px 0px 5px var(--color-5);
}

.tittle-project {
  color: var(--color-8);
  font-size: 1.7rem;
  font-weight: 600;
  text-decoration: underline;
}

.tittle-project:hover {
  text-decoration: none;
}

.technologies-project {
  color: var(--color-8);
  font-size: 1.3rem;
}

.img-project {
  display: block;
  width: 80vw;
  max-width: 13rem;
  height: 13rem;
  margin: 2rem auto;
  border: 1px solid var(--color-5);
  border-radius: 10px;
}

.github-icon-project,
.deploy-icon-project {
  color: var(--color-8);
  font-size: 1.4rem;
}

.github-icon-project:hover,
.deploy-icon-project:hover {
  color: var(--color-7);
}

.github-link-project,
.deploy-link-project {
  color: var(--color-8);
  font-size: 1.4rem;
}

.github-link-project:hover,
.deploy-link-project:hover {
  text-decoration: underline;
  color: var(--color-7);
}

.github-link-project:visited,
.deploy-link-project:visited {
  color: var(--color-5);
}

@keyframes pointing-hand {
  0% {
    transform: translateX(30px);
  }
  50% {
    transform: translateX(-30px) rotateY(20deg);
  }

  100% {
    transform: translateX(30px);
  }
}

#hand-icon {
  width: fit-content;
  margin: 2rem auto;
  animation: pointing-hand 3s infinite;
}

#hand-icon i {
  color: var(--color-8);
  font-size: 3rem;
}

#skills {
  background-color: var(--color-5);
  text-align: center;
  padding: 2rem 1rem;
}

#skills h1,
#skills h2 {
  color: var(--color-2);
}

#skills h1 {
  font-size: 2.2rem;
  padding: 2rem 0rem;
}

#skills h2 {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: underline;
  padding-bottom: 2rem;
}

.container-skills {
  margin-bottom: 3rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container-icon-skill {
  background-color: var(--color-2);
  width: fit-content;
  margin: auto;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-icon {
  font-size: 4rem;
  color: var(--color-1);
  transition: 0.3s;
}

.skill-label {
  color: var(--color-2);
  margin-bottom: 1rem;
  font-weight: 500;
}

footer {
  background-color: var(--color-7);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem 6rem;
}

.contato-container:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contato-container:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

footer h1,
footer p,
footer a {
  color: var(--color-2);
}

footer a:hover {
  text-decoration: underline;
}

footer i {
  color: var(--color-1);
  font-size: 5rem;
}